# Datos (dataset original, demasiado pesado)
/data

# Logs de Weights & Biases
/wandb/

# Cachés de Python
__pycache__/
*.pyc
*.pyo

# Notebooks / checkpoints
.ipynb_checkpoints/

# Entornos virtuales
.venv/
venv/
env/

# Sistema operativo
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
